{% extends 'news/base.html' %}
{% load static %}

{% block title %} Dunyo xabarlari {% endblock title %}
{% block content %}
    {% for news in world_news %}
        <div class="container">
        <div class="row">
            <a href="{{ news.get_absolute_url }}" class="col-sm-8">
            <div class="col-sm-8">
                <img src="{{ news.image.url }}" alt="{{ news.title }}" style="width: 50%">
                <h4>{{ news.title }}</h2>
            </div>
            </a>
        </div>
        </div>
    {% endfor %}


{% endblock content %}